ul, li {
    list-style-type: none ;
    border-radius: 5px ;
    font-size: 9pt;
    font-family: Verdana, Geneva, sans-serif;
    overflow: auto;
}

ul{
    margin: .5%;
}

p {
    line-height: .8px;
    margin: 10px;
    font-size: 9pt;
    font-family: Verdana, Geneva, sans-serif;
}

#content {
    background-color: rgb(236, 232, 206);
    border-radius: 5px;
}

:host ::ng-deep span { 
    color: grey;
}