<div class="itemlist">
    <table>
        <tbody>
            <ng-container *ngFor="let item of items; index as idx">
                <tr>
                    <td style="width:20px"> <span class="item-row"> {{ item.postId}}. </span></td>
                    <td>
                        <a class="item-row" [href]="item.url">{{item.title}}</a>
                    </td>
                </tr>
                <tr class="subtext">
                    <td></td>
                    <td class="subtext-row">
                        <span>{{item.score}} points by {{item.by}}</span>
                        <span> | </span>
                        <a [routerLink]='"/comments/"+item.id' class="link"> {{item.descendants}} comments</a>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <div class="footer">
        <button id="btn_next" *ngIf="items.length > 0" (click)="NavigateToNextPage()">Next</button>
    </div>
</div>